<h3>
  Feel Free to contact us about any concern.
</h3>
<div class="container">
  <div class="row">
    <div class="col cardsCol">
      <div class="card">
        <img src="Card" src="https://media-exp1.licdn.com/dms/image/C4D03AQGX56APJUfdfg/profile-displayphoto-shrink_800_800/0?e=1590624000&v=beta&t=9LmP9Ef_EM94hd0dpTT7vjobUmMh7sDqy_RiZMc6ft8" class="profileFotoCard rounded-lg">
        <div class="card-body">
          <h1 class="card-title">Francisco Grilo</h1>
          <h2 class="card-subtitle mb-2 text-muted">Student</h2>
          <!--Body Content-->
          <div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                <img class="imageLi" src='../../../../assets/phone.png'>
                <span>
                  +351 935774709
                </span>
              </li>
              <li class="list-group-item">
                <img class="imageLi" src='../../../../assets/email.png'>
                <span>
                  <a href="mailto: francisco.grilo@sapo.pt">francisco.grilo@sapo.pt</a>
                </span>
              </li>
              <li class="list-group-item">
                <img class="imageLi" src='../../../../assets/gpspin.png'>
                <span>
                  Poceirão-Palmela, Portugal
                </span>
              </li>
              <li class="list-group-item">
                <div class="row">
                  <div class="col addVerticalLine" align="center">
                    <div class="icon-container ">
                      <div class="icon icon-enter linkedInArea">
                        <i class="fab fa-linkedin-in" id="linkedInIcon"></i>
                      </div>
                    </div>
                  </div>
                  <div class="col addVerticalLine" align="center">
                    <div class="icon-container ">
                      <div class="icon icon-fill">
                        <i class="fab fa-github" id="gitHubIcon"></i>
                      </div>
                    </div>
                  </div>
                  <div class="col addVerticalLine" align="center">
                    <div class="icon-collapse">
                      <div class="icon icon-collapse faceBookArea">
                        <i class="fab fa-facebook-f" id="facebookIcon"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
      <div class="col cardsCol">
        <div class="card">
          <img class="profileFotoCard rounded-lg"
               src="https://media-exp1.licdn.com/dms/image/C5603AQFTsMspZjkfhA/profile-displayphoto-shrink_200_200/0?e=1597276800&v=beta&t=BE4bN50cHmEaOo1s6FECdV0rwmFcGlIp63PcmYE6SCU"
               src="Card">
          <div class="card-body">
            <h1 class="card-title">João Marques</h1>
            <h2 class="card-subtitle mb-2 text-muted">Developer</h2>
            <!--Body Content-->
            <div>
              <ul class="list-group list-group-flush">
                <li class="list-group-item">
                  <img class="imageLi" src='../../../../assets/phone.png'>
                  <span>
                    +351 910735900
                  </span>
                </li>
                <li class="list-group-item">
                  <img class="imageLi" src='../../../../assets/email.png'>
                  <span>
                    <a href="mailto: jm.a.marques.93@gmail.com">jm.a.marques.93@gmail.com</a>
                  </span>
                </li>
                <li class="list-group-item">
                  <img class="imageLi" src='../../../../assets/gpspin.png'>
                  <span>
                    Pinhal-Novo,Palmela Portugal
                  </span>
                </li>
                <li class="list-group-item">
                  <div class="row">
                    <div class="col addVerticalLine" align="center">
                      <div class="icon-container ">
                        <div class="icon icon-enter linkedInArea">
                          <i class="fab fa-linkedin-in" id="linkedInIcon"></i>
                        </div>
                      </div>
                    </div>
                    <div class="col addVerticalLine" align="center">
                      <div class="icon-container ">
                        <div class="icon icon-fill">
                          <i class="fab fa-github" id="gitHubIcon"></i>
                        </div>
                      </div>
                    </div>
                    <div class="col addVerticalLine" align="center">
                      <div class="icon-collapse">
                        <div class="icon icon-collapse faceBookArea">
                          <i class="fab fa-facebook-f" id="facebookIcon"></i>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
