.imageLi{
  width: 25px;
  height: 25px;
  margin-right: 20px;
}
span{
  font: 17px "Arial";
}
.addVerticalLine {
  border-right: 1px solid rgb(201, 197, 197);
}
.imageLogo{
  width: 50px;
  height: 50px;
}
.card{
  width: 400px;
  -webkit-box-shadow: 20px 22px 39px -18px rgba(0,0,0,0.75);
  -moz-box-shadow: 20px 22px 39px -18px rgba(0,0,0,0.75);
  box-shadow: 20px 22px 39px -18px rgba(0,0,0,0.75);
}
.card:hover{
  -webkit-box-shadow: 20px 22px 39px -9px rgba(0,0,0,0.75);
  -moz-box-shadow: 20px 22px 39px -9px rgba(0,0,0,0.75);
  box-shadow: 20px 22px 39px -9px rgba(0,0,0,0.75);

}
img.franciscoFoto {
  width: 225px;
  margin: auto;
  margin-top: 5%;
}
h1{
  margin: 0;
}
.card-title {
  margin-bottom: 0;
}
.card-body{
  padding-bottom: 0px;
}
h3{
  font: 30px "Arial";
  text-align: center;
  color:orange;
  margin-bottom: 30px;
}
.cardsCol{
  margin-left: auto;
  margin-right: auto;
  flex-grow: 0;
}

