@import "src/styles";

#divToButton {
  padding: 15px 10px;

  button {
    height: 40px;
  }
}

#logInButton{
  float: right;
}


#registerButton{
  float: right;
  margin-left: 5%;
  margin-right: 1%;
}

h2 {
  padding: 0 0;
  font: 55px "Arial";
  text-align: center;
}

header h2 {
  color: white;
}

header {
  position: relative;
  height: 300px;
  background-color:rgb(39, 38, 38) !important; //linear-gradient(#13161F, #13161fc4);
  //box-shadow: -3px -3px 3px rgba(51, 51, 51, 0.5);
  box-shadow: inset 3px 3px 3px 0 rgba(51, 51, 51, 0.5);
}

svg {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
}

@media (max-width: 699px) {
  .svg--lg {
    display: none;
  }
}

@media (min-width: 700px) {
  .svg--sm {
    display: none;
  }
}

span {
  display: inline;
}
span:after {
  width: 0;
  overflow: hidden;
  display: inline-block;
  vertical-align: bottom;
  transition: .2s linear;
  margin-right: 5px;
}

span:nth-child(1):after {
  content: 'ode    ';
}

span:nth-child(2):after {
  content: 'wn ';
}

span:nth-child(3):after {
  content: 'esign ';
}



// Media Queries

@media (max-width: 575.98px) {
  h2 {
    padding: 0 0;
    margin-top: 10%;
    font: 40px "Arial";
    text-align: center;
  }
}

@media (min-width: 992px) {
  div:hover span:nth-child(1):after {
    width: 90px;
  }
  div:hover span:nth-child(2):after {
    width: 70px;
  }
  div:hover span:nth-child(3):after {
    width: 130px;
  }
}
