.progress{
  height: 5px;
}
.progress-bar{
  background-color: orange;
}
.card{
  width: 1000px;
  height: 500px;
  margin-left: auto;
  margin-right: auto;
}
.card .avatar {
  //position: relative;
  //top: -25px;
  //margin-bottom: -50px;
  float:right;
}
.card .avatar img {
  width: 75px;
  background-color: rgb(243, 242, 242);
  max-width: 100px;
  max-height: 100px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 80%;
  border: 5px solid orange;
}
.containerHeader{
  position: relative;
  width: 900px;
  height: 70px;
  margin-left: auto;
  margin-right: auto;
}
.card .col{
 padding-right: 0px;
 margin-right: -25px;
}

#progressBarId{
  margin-top: 30px;
}

#progressBarId,
#iconList {
  width: 100%;
  position: absolute;
}
#iconList {
  z-index: 10;
  margin-top: -0.5px;
}

.icon-fill{
		transition-duration: 0.5s;
		box-shadow: inset 0 0 0 40px lighten(orange,20%);
}
.titleContent{
  text-align: center;
}
.card-footer{
  background-color: white;
  border-top: none;
}

.btn-warning {
  width: 100px;
  color: white;
  background-color: orange !important;
  letter-spacing: 1px;
  line-height: 15px;
  border: 2px solid rgba(240, 173, 78, 0.75);
  border-radius: 40px;
  background: transparent;
  transition: all 0.3s ease 0s;
}
.titleRow{
  max-width: 900px;
  margin-left: 25px;
}
#firstHeader{
  margin-right: -15px;
}


