<div class="container">
  <p>page-not-found works!</p>
  <h2>Corona Virus</h2>
  <div class="PagConteudo bootstrapScopedWS col-lg-8" id="PagConteudo">
    <div class="bootstrapScopedWS" id="ctAreaConteudo">
      <div class="pagConteudoCt bootstrapScopedWS">
        <div class="bootstrapScopedWS" id="mlkFrame"><h1 class="bootstrapScopedWS"></h1>
          <div class="col-12 imageBlock bootstrapScopedWS" data-imgblock="sideBySide"
               style="text-align:left;width:100%;padding-left:0px;"><img alt="Novo Coronavírus (2019-nCoV)"
                                                                         class="bootstrapScopedWS"
                                                                         src="https://www.dgs.pt/upload/imagens/i032035.jpg"
                                                                         style="float:left;margin:5px 5px 5px 5px;border-width:0px;"
                                                                         title="Novo Coronavírus (2019-nCoV)">
            <div class="bootstrapScopedWS" style="clear:both;overflow:hidden;margin:0px;padding:0px;font-size:1px;">
              &nbsp;
            </div>
          </div>
          <div class="col-12 bootstrapScopedWS" style="text-align:left;width:100%;padding-left:0px;"><p
            class="bootstrapScopedWS">Os coronavírus são um grupo de vírus de genoma de RNA simples de sentido positivo
            (serve diretamente para a síntese proteica), conhecidos desde meados dos anos 1960.</p>
            <p class="bootstrapScopedWS">A maioria das pessoas infecta-se com os coronavírus comuns ao longo da vida.
              Eles são uma causa comum de infecções respiratórias brandas a moderadas de curta duração.<br
                class="bootstrapScopedWS"></p>
            <p class="bootstrapScopedWS">Entre os coronavírus encontra-se também o vírus causador da forma de pneumonia
              atípica grave conhecida por SARS, o MersCov, e o novo coronavirus.<br class="bootstrapScopedWS"></p>
            <div class="bootstrapScopedWS"><strong class="bootstrapScopedWS">Selecione uma das opções do menu à
              direita.</strong><br class="bootstrapScopedWS"></div>
            <p class="bootstrapScopedWS"><br class="bootstrapScopedWS"></p></div>
        </div>
        <div class="icons-pag bootstrapScopedWS" id="icons"><span class="dgs-icon-print link bootstrapScopedWS"
                                                                  onclick="fImprime_v2('ctAreaConteudo');"></span><span
          class="share bootstrapScopedWS" id="partilha"><script
          type="text/javascript">var addthis_config = {ui_language: "pt"}</script><a
          class="addthis_button addthis_toolbox addthis_default_style  bootstrapScopedWS"
          href="//www.addthis.com/bookmark.php?v=300&amp;pubid=ra-4f0330172df450c4" title="Partilhar"><i
          class="dgs-icon-share bootstrapScopedWS"></i><div class="atclear"></div></a><script
          src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-4f0330172df450c4"
          type="text/javascript"></script></span>
        </div>
        <div class="text-left bootstrapScopedWS"><a class="link-back bootstrapScopedWS" href="javascript:history.back()"
                                                    id="back"><i
          class="dgs-icon-back bootstrapScopedWS"></i>Voltar</a></div>
      </div> <!--pagConteudoCt--></div><!--ctAreaConteudo--></div>
  <div class="PagConteudo bootstrapScopedWS col-lg-8" id="PagConteudo">
    <div class="bootstrapScopedWS" id="ctAreaConteudo">
      <div class="pagConteudoCt bootstrapScopedWS">
        <div class="bootstrapScopedWS" id="mlkFrame"><h1 class="bootstrapScopedWS"></h1>
          <div class="col-12 imageBlock bootstrapScopedWS" data-imgblock="sideBySide"
               style="text-align:left;width:100%;padding-left:0px;"><img alt="Novo Coronavírus (2019-nCoV)"
                                                                         class="bootstrapScopedWS"
                                                                         src="https://www.dgs.pt/upload/imagens/i032035.jpg"
                                                                         style="float:left;margin:5px 5px 5px 5px;border-width:0px;"
                                                                         title="Novo Coronavírus (2019-nCoV)">
            <div class="bootstrapScopedWS" style="clear:both;overflow:hidden;margin:0px;padding:0px;font-size:1px;">
              &nbsp;
            </div>
          </div>
          <div class="col-12 bootstrapScopedWS" style="text-align:left;width:100%;padding-left:0px;"><p
            class="bootstrapScopedWS">Os coronavírus são um grupo de vírus de genoma de RNA simples de sentido positivo
            (serve diretamente para a síntese proteica), conhecidos desde meados dos anos 1960.</p>
            <p class="bootstrapScopedWS">A maioria das pessoas infecta-se com os coronavírus comuns ao longo da vida.
              Eles são uma causa comum de infecções respiratórias brandas a moderadas de curta duração.<br
                class="bootstrapScopedWS"></p>
            <p class="bootstrapScopedWS">Entre os coronavírus encontra-se também o vírus causador da forma de pneumonia
              atípica grave conhecida por SARS, o MersCov, e o novo coronavirus.<br class="bootstrapScopedWS"></p>
            <div class="bootstrapScopedWS"><strong class="bootstrapScopedWS">Selecione uma das opções do menu à
              direita.</strong><br class="bootstrapScopedWS"></div>
            <p class="bootstrapScopedWS"><br class="bootstrapScopedWS"></p></div>
        </div>
        <div class="icons-pag bootstrapScopedWS" id="icons"><span class="dgs-icon-print link bootstrapScopedWS"
                                                                  onclick="fImprime_v2('ctAreaConteudo');"></span><span
          class="share bootstrapScopedWS" id="partilha"><script
          type="text/javascript">var addthis_config = {ui_language: "pt"}</script><a
          class="addthis_button addthis_toolbox addthis_default_style  bootstrapScopedWS"
          href="//www.addthis.com/bookmark.php?v=300&amp;pubid=ra-4f0330172df450c4" title="Partilhar"><i
          class="dgs-icon-share bootstrapScopedWS"></i><div class="atclear"></div></a><script
          src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-4f0330172df450c4"
          type="text/javascript"></script></span>
        </div>
        <div class="text-left bootstrapScopedWS"><a class="link-back bootstrapScopedWS" href="javascript:history.back()"
                                                    id="back"><i
          class="dgs-icon-back bootstrapScopedWS"></i>Voltar</a></div>
      </div> <!--pagConteudoCt--></div><!--ctAreaConteudo--></div>
</div>
