/* **************FONT STYLE************* */
/* ************************************ */
/* *********************************** */
.fontJosfin{
  font-family: 'Josefin Sans', sans-serif;
}
.colButton {
  width: 150px;
  height: 150px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5%;
}
.inputFile{
  display: none;
}
form h3{
  text-align: center;
}
.ui-inputtext {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: solid 1px lighten(orange, 20%);
  font-size: 17px;
}
.ui-inputtext:enabled:focus:not(.ui-state-error) ,.ui-inputtext:enabled:hover:not(.ui-state-error) {
  border-bottom: solid 1px orange;
}
.ui-inputtext:enabled:focus:not(.ui-state-error) {
  box-shadow: none;
}
.ui-corner-all{
border-radius: 0px;
}
.inputNGPrime{
  margin-bottom: 5%;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
}
