<div class="row">
  <div class="col">
    <div class="card">
      <div class="card-body">
        <h2 class="card-title text-center">Insert your Skills</h2>
        <p class="card-text mb-2 text-muted text-center">From Language Skills, to Technical Skills or Soft
          Skills.</p>
        <button class="btn roundedButton centerButtons" (click)="openSkillDialog()">
          <mat-icon>add</mat-icon>
          <span class="allignTextWithIcon"> Add new Skill</span>
        </button>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-6" *ngFor="let skillUser of profile.skills; index as i">
    <div class="card">
      <div class="card-body">
        <div>
          <p>
            <i class="fas fa-pencil-alt"></i>
            <b>Skill Type: </b>{{skillUser.type}}
          </p>
          <p>
            <i class="fas fa-percentage"></i>
            <b>Percentage: </b>{{skillUser.percentage*10}}%
          </p>
          <p>
            <i class="fas fa-spell-check"></i>
            <b>Name: </b>{{skillUser.name}}
          </p>
          <button class="btn roundedButton float-right editButton" id="removeButton" matTooltip="Delete" (click)="deleteSkill(i)">
            <mat-icon class="editIcon">delete</mat-icon>
          </button>
          <button class="btn roundedButton float-right editButton" matTooltip="Edit" (click)="editSkillDialog(i)">
            <mat-icon class="editIcon">edit</mat-icon>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
