@import "src/fonts";
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import '~@angular/material/theming';

/* **************FONT TYPE**************** */
/* ************************************ */
/* ************************************ */

.fontJosfin {
  font-family: 'Josefin Sans', sans-serif;
}

// Define a custom typography config that overrides the font-family as well as the
// `headlines` and `body-1` levels.
$custom-typography: mat-typography-config(
  $font-family: 'Josefin Sans, sans-serif',
  $headline: mat-typography-level(32px, 48px, 700),
  $body-1: mat-typography-level(16px, 24px, 500)
);
// Override typography CSS classes (e.g., mat-h1, mat-display-1, mat-typography, etc.).
@include mat-base-typography($custom-typography);

//// Override typography for a specific Angular Material components.
//@include mat-checkbox-typography($custom-typography);

// Override typography for all Angular Material, including mat-base-typography and all components.
@include angular-material-typography($custom-typography);

body {
  margin: 0;
  font-family: 'Josefin Sans', sans-serif !important;
}

/* You can add global styles to this file, and also import other style files */
html, body {
  height: 100%;
}

/* ****************VARIABLES*********** */
/* ************************************ */
/* ************************************ */
$cod-btn-hover-orange: lighten(orange, 20%);


/* ****************CURSOR************** */
/* ************************************ */
/* ************************************ */
// Remove standard cursor
html,
* {
  cursor: none !important;
}

.btn, a {
  cursor: none !important;
}

// all the objects with cod-cursor we increase the size in 20 px
.cod-cursor {
}

/* **************BUTTON**************** */
/* ************************************ */
/* ************************************ */
.btn:hover {
  background: $cod-btn-hover-orange;
  border-color: orange;
}

.btn:focus {
  box-shadow: 0 0 0 0.1rem $cod-btn-hover-orange;
}

.btn {
  background: orange;
  border-color: orange;
  color: white;
}
//Rounded Buttons Class
.roundedButton {
  width: 100px;
  color: white;
  letter-spacing: 1px;
  line-height: 15px;
  border: 2px solid rgba(240, 173, 78, 0.75);
  border-radius: 40px;
}

/* **************AG-Grid*************** */
/* ************************************ */
/* ************************************ */

@import "../node_modules/ag-grid-community/src/styles/ag-grid";
/*@import "../node_modules/ag-grid-community/src/styles/ag-theme-alpine/sass/ag-theme-alpine-mixin";
@import "../node_modules/ag-grid-community/src/styles/ag-theme-alpine-dark/sass/ag-theme-alpine-dark-mixin";*/
@import "../node_modules/ag-grid-community/src/styles/ag-theme-balham/sass/ag-theme-balham-mixin";

.ag-theme-alpine {
  @include ag-theme-balham((
    // odd-row-background-color: #CFD8DC
  ));
}

