/* You can add global styles to this file, and also import other style files */
html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

/* ****************CURSOR************** */
/* ************************************ */
/* ************************************ */
// Remove standard cursor
html,
* {
  cursor: none;
}

.btn, a {
  cursor: none !important;
}

// all the objects with cod-cursor we increase the size in 20 px
.cod-cursor {
}

/* ************************************ */

