<div class="container">
  <div class="row">
    <ul class="col-6 float-left technologies pr-2 pr-md-5">
      <li>
        <i class="fab fa-angular fa-4x"></i>
        <div class="text">
          <h2><strong>Title 2</strong></h2>
          <p>content 2</p>
        </div>
      </li>
    </ul>
    <ul class="col-6 float-right technologies pl-2 pl-md-5">
      <li>
        <i class="fab fa-angular fa-4x"></i>
        <div class="text">
          <h2><strong>Title 1</strong></h2>
          <p>content 1</p>
        </div>
      </li>
    </ul>
  </div>
</div>


<div #graphContainer></div>

