<div class="container">
  <div class="row title-bar" data-aos="fade-up">
    <a [pageScrollDuration]="300" class="title-bar-item" href="#section-1" pageScroll>Technologies</a>
    <a [pageScrollDuration]="600" class="title-bar-item" href="#section-2" pageScroll>Project statistics</a>
  </div>
  <div class="title" data-aos="fade-up" id="section-1">
    <span>Technologies</span>
  </div>
  <div class="row">
    <!-- LEFT-->
    <ul class="col-6 float-left technologies pr-2 pr-md-5">
      <li data-aos="fade-up">
        <i class="fab fa-html5 fa-4x" style="color: orange"></i>
        <div class="text">
          <h3><strong>HTML5</strong></h3>
          <p>Markup language used for structuring and presenting content on the World Wide Web.
            It was the fifth and last major version of HTML that is a W3C recommendation.</p>
        </div>
      </li>
      <li data-aos="fade-up">
        <i class="fab fa-js fa-4x" style="color: yellow"></i>
        <div class="text">
          <h3><strong>JavaScript</strong></h3>
          <p>Programming language that conforms to the ECMAScript specification.
            JavaScript is high-level, often just-in-time compiled, and multi-paradigm.</p>
        </div>
      </li>
      <li data-aos="fade-up">
        <i class="fab fa-java fa-4x"></i>
        <div class="text">
          <h3><strong>Java</strong></h3>
          <p>Java is a programming language and computing platform first released by Sun Microsystems in 1995.
            There are lots of applications and websites which use Java.</p>
        </div>
      </li>
      <li data-aos="fade-up">
        <i class="fab fa-angular fa-4x" style="color: red"></i>
        <div class="text">
          <h3><strong>Angular</strong></h3>
          <p>Angular is a TypeScript-based open-source web application framework led by the Angular Team at Google
            and by a community of individuals and corporations.</p>
        </div>
      </li>
      <li data-aos="fade-up">
        <i class="fab fa-bootstrap fa-4x" style="color: blue"></i>
        <div class="text">
          <h3><strong>Bootstrap</strong></h3>
          <p>Open-source CSS framework directed at responsive, mobile-first front-end web development.
            It contains design templates for typography, navigation, and others.</p>
        </div>
      </li>
      <li data-aos="fade-up">
        <img alt="Not Available" src="../../../../assets/ngbootstrap.png">
        <div class="text">
          <h3><strong>Ngx Bootstrap</strong></h3>
          <p>Bootstrap widgets for Angular: autocomplete, accordion, alert, carousel, dropdown, pagination, and others.
            This makes it easy to use Bootstrap in your Angular apps.</p>
        </div>
      </li>
    </ul>
    <!--RIGHT-->
    <ul class="col-6 float-right technologies pl-2 pl-md-5">
      <li data-aos="fade-up">
        <i class="fab fa-css3-alt fa-4x" style="color: lightskyblue"></i>
        <div class="text">
          <h3><strong>CSS</strong></h3>
          <p>Cascading Style Sheets is a style sheet language used for describing the presentation of a document written
            in a markup language like HTML.</p>
        </div>
      </li>
      <li data-aos="fade-up">
        <img alt="Not Available" src="../../../../assets/typescript.png">
        <div class="text">
          <h3><strong>TypeScript</strong></h3>
          <p>TypeScript is an open-source programming language developed and maintained by Microsoft.
            It is a strict syntactical superset of JavaScript, and adds optional static typing to the language.</p>
        </div>
      </li>
      <li data-aos="fade-up">
        <img alt="Not Available" src="../../../../assets/springboot.png">
        <div class="text">
          <h3><strong>Spring Boot</strong></h3>
          <p>Spring Boot is Spring's convention-over-configuration solution for creating stand-alone, production-grade
            Spring-based Applications that you can "just run".</p>
        </div>
      </li>
      <li data-aos="fade-up">
        <i class="fab fa-angular fa-4x" style="color: blue"></i>
        <div class="text">
          <h3><strong>Angular Material</strong></h3>
          <p>UI component infrastructure and Material Design components for mobile and desktop Angular web
            applications.</p>
        </div>
      </li>
      <li data-aos="fade-up">
        <img alt="Not Available" src="../../../../assets/aggrid.png">
        <div class="text">
          <h3><strong>ag-Grid</strong></h3>
          <p>ag-Grid is a client-side JavaScript grid which is designed to be framework agnostic. It is not dependent on
            any framework, allowing it to be easily integrated with any of them.</p>
        </div>
      </li>
      <li data-aos="fade-up">
        <img alt="Not Available" src="../../../../assets/primeng.png">
        <div class="text">
          <h3><strong>PrimeNG</strong></h3>
          <p>PrimeNG is a collection of rich UI components for Angular. All widgets are open source and free to use
            under MIT License.</p>
        </div>
      </li>
    </ul>
  </div>
</div>

<div class="title" data-aos="fade-up" id="section-2">
  <span>Project statistics</span>
</div>
<div class="container text-justify" data-aos="fade-up" style="font-size: 16px">
  Stats can mean the difference between a successful project and project failure, with multiple
  jobs and a lot of money and time on the line.
  So to avoid it, in this section is possible see all technologies usage,
  evolution and the contributions made by users in GitHub for project curriculum.
  <cod-statics></cod-statics>
</div>
<!--<div #graphContainer data-aos="fade-up"></div>-->

