.headerHomepage{
  background: rgb(228, 225, 225);
  text-align: center;
  padding-bottom: 1%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.text-divider{margin: 2em 0; line-height: 0; text-align: center;}
.text-divider span{background-color: rgb(228, 225, 225); padding: 1em;}
.text-divider:before{ content: " "; display: block; border-top: 1px solid #7e7d7d; border-bottom: 1px solid #f7f7f7;}

