<div class="row align-items-end">
  <div class="col " id="leftCol">
    <h1 class="fontJosfin topTitle">
      Make your Curriculum
    </h1>
    <h1 class="fontJosfin topTitle">
      Travel the world
    </h1>
    <h4 class="text-muted fontJosfin">Need help sharing your Curriculum? Search no more. With us you can create your
      digital
      profile with all your skills and profissional qualities.</h4>
    <div class="text-box">
      <a href="#" class="btn btn-white btn-animate" id="joinButton">Join Us</a>
    </div>
  </div>
  <div class="col">
    <img src='../../../assets/background.png' id="backGroundImg" class="mx-auto d-block">
  </div>
</div>
<div class="row justify-content-md-center" id="secondRow">
  <h1 class="fontJosfin" id="secondTitle">
    COD Features
  </h1>
</div>
<div class="row justify-content-md-center">
  <h4 class="fontJosfin text-muted ">
    Check out the features our website offers. We try to allways be by your side and help you try to reach your goals.
  </h4>
</div>
<div class="container fontJosfin">
  <div class="row">
    <div class="col">
      <div class="CustomCard hoverCustomCard">
        <div class="CustomCardheader header">
        </div>
        <div class="avatar">
          <img src='../../../assets/share2.png' alt="shareProfile">
        </div>
        <div class="info">
          <h3 class="pt-2"><strong>Share your Profile</strong></h3>
          <div class="desc">
            In COD you can share your profile between all your friends and share it online.
            They will be able to see your skills, your most ambicious projects and it's totally free.
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="CustomCard hoverCustomCard">
        <div class="CustomCardheader header">
        </div>
        <div class="avatar">
          <img src='../../../assets/group3.jpg' alt="shareProfile">
        </div>
        <div class="info">
          <h3 class="pt-2"><strong>Join Our Community</strong></h3>
          <div class="desc">
            Join us in this fun ride. Its totally free and super easy.
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="CustomCard hoverCustomCard">
        <div class="CustomCardheader header">
        </div>
        <div class="avatar">
          <img src='../../../assets/curriculum.png' alt="shareProfile">
        </div>
        <div class="info">
          <h3 class="pt-2"><strong>Create your Curriculum</strong></h3>
          <div class="desc">
            Not only you can see our portofolio and all members in it, but also create your own profile with your skills and projects.
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


