<div class="row align-items-end">
  <div class="col " id="leftCol" data-aos="fade-up">
    <h1 class="fontJosfin topTitle">
      Make your Curriculum
    </h1>
    <h1 class="fontJosfin topTitle">
      Travel the world
    </h1>
    <h4 class="text-muted fontJosfin">Need help sharing your Curriculum? Search no more. With us you can create your
      digital
      profile with all your skills and profissional qualities.</h4>
    <div class="text-box">
      <a href="#" class="btn btn-white btn-animate" id="joinButton">Join Us</a>
    </div>
  </div>
  <div class="col" data-aos="fade-down">
    <img src='../../../assets/background.png' id="backGroundImg" class="mx-auto d-block">
  </div>
</div>
<div class="backGroundGrey">
  <div class="row justify-content-md-center" id="secondRow">
    <h1 class="fontJosfin" id="secondTitle">
      COD Features
    </h1>
  </div>
  <div class="row justify-content-md-center">
    <h4 class="fontJosfin text-muted ">
      Check out the features our website offers. We try to allways be by your side and help you try to reach your goals.
    </h4>
  </div>
  <div class="container fontJosfin">
    <div class="row ">
      <div class="col" data-aos="fade-right">
        <div class="CustomCard hoverCustomCard">
          <div class="CustomCardheader header">
          </div>
          <div class="avatar">
            <img src='../../../assets/share2.png' alt="shareProfile">
          </div>
          <div class="info">
            <h3 class="pt-2"><strong>Share your Profile</strong></h3>
            <div class="desc">
              In COD you can share your profile between all your friends and share it online.
              They will be able to see your skills, your most ambicious projects and it's totally free.
            </div>
          </div>
        </div>
      </div>
      <div class="col" data-aos="fade-up">
        <div class="CustomCard hoverCustomCard">
          <div class="CustomCardheader header">
          </div>
          <div class="avatar">
            <img src='../../../assets/group3.jpg' alt="shareProfile">
          </div>
          <div class="info">
            <h3 class="pt-2"><strong>Join Our Community</strong></h3>
            <div class="desc">
              Join us in this fun ride. Its totally free and super easy.
            </div>
          </div>
        </div>
      </div>
      <div class="col" data-aos="fade-left">
        <div class="CustomCard hoverCustomCard">
          <div class="CustomCardheader header">
          </div>
          <div class="avatar">
            <img src='../../../assets/curriculum.png' alt="shareProfile">
          </div>
          <div class="info">
            <h3 class="pt-2"><strong>Create your Curriculum</strong></h3>
            <div class="desc">
              Not only you can see our portofolio and all members in it, but also create your own profile with your
              skills
              and projects.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row justify-content-md-center" id="thirdrow">
  <h1 class="fontJosfin" id="secondTitle">
    About Us...
  </h1>
</div>
<div class="container aboutContainer" data-aos="fade-up">

  <p class="fontJosfin aboutUs">
    COD is a small project that was born between the mighty COVID-19 crysis of the planet earth in 2020. Two friends
    decided that in quarantine they needed to improve they skills in
    Web Development. Due to that we decided to create a small website to help us, and other people to share they
    profiles.
  </p>
  <p class="fontJosfin aboutUs">
    The goal was to share our skills both in technologies and soft-skills. This way we could provide a more detailed
    vision, of our work and ideas.
    This information can be usefull to coworkers, friends, possible future jobs or even, mere spectators.
  </p>

</div>
<div class="backGroundGrey">
  <div class="container">
    <div class="row justify-content-md-center" id="titleCustom">
      <h1 class="fontJosfin" id="secondTitle">
        For Developers by Developers
      </h1>
    </div>
    <div class="row justify-content-md-center">
      <h4 class="fontJosfin text-muted ">
        Our mission is to help developers write the script of the future. This means helping you exposing your profile
        to
        the world to a more effectively precess.
      </h4>
    </div>
    <div class="row">
      <div class="col" data-aos="zoom-in">
        <div class="card float-right">
          <div class="card-body">
            <img src='../../../assets/find-candidate.svg' alt="shareProfile" class="iconCards ">
            <p class="cardsContent mx-auto">
              Find members of our community, and see their fabulous profile in our <a
                routerLink="/portofolio">Portofolio</a> .
            </p>
          </div>
        </div>
      </div>
      <div class="col" data-aos="zoom-in">
        <div class="card">
          <div class="card-body">
            <img src='../../../assets/dom.png' alt="shareProfile" id="webIcon">
            <p class="cardsContent mx-auto">
              Curious about the techonologies we used? Check it out on the <a
                routerLink="/cod/contacts/technologies">Technologies</a> page.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="pinkyBackGround fontJosfin">
  <div class="container">
    <div class="row justify-content-md-center" id="titleCustom">
      <h1 class="fontJosfin" id="secondTitle">
        Our Team
      </h1>
    </div>
    <div class="testimonials">
      <ul notranslate>
        <li data-aos="zoom-in-right">
          <p>Hello I'm Francisco. I'm part of the COD team. My main objective was to work on the front-end. Currently
            I'm
            a
            student and I'm looking forward to increase my knowledge on the web-oriented apps and frameworks.</p>
          <div class="authorDetails">
            <img
              src="https://media-exp1.licdn.com/dms/image/C4D03AQGX56APJUfdfg/profile-displayphoto-shrink_800_800/0?e=1590624000&v=beta&t=9LmP9Ef_EM94hd0dpTT7vjobUmMh7sDqy_RiZMc6ft8"
              class="avatarImg rounded-circle float-left">
          </div>
          <div class="nameDiv">
            <span>
              <a routerLink="/cod/contacts/details">Francisco Grilo</a>
            </span>
            <br>
            <span>
              Student
            </span>
          </div>
        </li >
        <li data-aos="zoom-in-left">
          <p>Hello I'm Joao. I like cookies.</p>
          <div class="authorDetails">
            <img
              src="https://media-exp1.licdn.com/dms/image/C5603AQFTsMspZjkfhA/profile-displayphoto-shrink_800_800/0?e=1590624000&v=beta&t=AluRZ25lh-twHVLTzDbDL1kX_ihFs2iova9j-wF5ENs"
              class="avatarImg rounded-circle float-left">
          </div>
          <div class="nameDiv">
            <span>
              <a routerLink="/cod/contacts/details">Joao Marques</a>
            </span>
            <br>
            <span>
              Developer
            </span>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
