.col-xl{
  border: 1px solid red;
}

.container{
  max-width: 100% !important;
}
.example-card {
  max-width: 70%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}
