
  <!-- Sidebar  -->
  <nav
    #navElement
    [class.hide-sidebar] = "hideSideBar"
    [class.active]="isActiveSidebar"
    id="sidebar"
  >
    <div
      cdkScrollable
      class="element"
    >
      <div class="sidebar-header">
        <div (click)="click()" id="sidebarCollapse">
          <h1 class="cod-cursor">Code Own Design</h1>
          <strong class="cod-cursor">COD</strong>
        </div>
      </div>

      <ul class="list-unstyled components">
        <li [class.active]="!menuItems.isCollapsed('home')">
          <a routerLink="homepage">
            <i class="pi pi-home"></i>
            Home
          </a>
        </li>
        <li>
          <a routerLink="portofolio">
            <i class="pi pi-briefcase"></i>
            About
          </a>
        </li>
        <li [class.active]="!menuItems.isCollapsed('pages')">
          <a
            (click)="menuItems.toggleCollapse('pages')"
            [attr.aria-expanded]="!menuItems.isCollapsed('pages')"
            aria-controls="pageSubmenu"
          >
            <i class="pi pi-copy"></i>
            Pages
            <i
              [class.pi-sort-down]="menuItems.isCollapsed('pages')"
              [class.pi-sort-up]="!menuItems.isCollapsed('pages')"
              [hidden]="isActiveSidebar"
              class="pi"
              style="float: right"
            ></i>
          </a>
          <ul
            [collapse]="menuItems.isCollapsed('pages')"
            [isAnimated]="menuItems.isAnimated('pages')"
            class="collapse list-unstyled"
            id="pageSubmenu"
          >
            <li>
              <a routerLink="technologies/users">Tech Users</a>
            </li>
            <li>
              <a routerLink="#">Page 2</a>
            </li>
            <li>
              <a routerLink="#">Page 3</a>
            </li>
          </ul>
        </li>
        <li>
          <a routerLink="#">
            <i class="pi pi-image"></i>
            Portfolio
          </a>
        </li>
        <li>
          <a routerLink="cod/contacts/support">
            <i class="pi pi-question"></i>
            FAQ
          </a>
        </li>
        <li>
          <a routerLink="cod/contacts">
            <i class="material-icons">
              contacts
            </i>
            Contact
          </a>
        </li>
      </ul>
    </div>
  </nav>


