<div class="container">
  <div class="row title-bar">
    <a [pageScrollDuration]="250" class="title-bar-item" href="#section-1" pageScroll>Top Technologies</a>
    <a [pageScrollDuration]="250" class="title-bar-item" href="#section-2" pageScroll>User statics</a>
  </div>
  <div class="container">
    <div class="title" id="section-1">
      <span>Top Technologies</span>
    </div>
    <div class="start">
      <ag-charts-angular [options]="options" style="max-width: 400px">
      </ag-charts-angular>
    </div>
    <div class="title" id="section-2">
      <span>Static Users</span>
    </div>
    <div class="start">
      <button (click)="getSelectedRows()" class="btn">Get Rows</button>
      <ag-grid-angular #agGrid [columnDefs]="columnDefs" [rowData]="rowData | async" class="ag-theme-alpine"
        rowSelection="multiple" style="width: 500px; height: 500px; max-width: 100%;">
      </ag-grid-angular>
    </div>
  </div>
  <div *ngIf="pieOptions">
    <ag-charts-angular style="height: 100%" [options]="pieOptions">
    </ag-charts-angular>
  </div>
  <div *ngIf="barChartOptions">
    <ag-charts-angular [options]="barChartOptions">
    </ag-charts-angular>
  </div>
</div>
