<div class="header">
  <h1 data-aos="fade-up">
    JOIN OUR COMMUNITY
  </h1>
  <div class="container">
    <div class="row">
      <div class="col addVerticalLine">
        <img alt="communityImg" class="titleImg" data-aos="fade-right" src="../../../../assets/community.png">
        <p data-aos="fade-right">
          Small community but present, aware, compassionate, empathetic, inclusive and loving. Our community is working
          together for the benefit of all. We are all connected to each other and the earth. We hope to give you an
          advantage in order to follow your dreams and goals.
        </p>
        <button href="#section-1" pageScroll type="button" class="btn roundedButton centerButtons"
          data-aos="fade-right">Create
          Profile
        </button>
      </div>
      <div class="col">
        <h2 data-aos="fade-left" data-aos-offset="500" data-aos-duration="1500">
          5 Reasons To Join Cod:
        </h2>
        <ul class="list-group list-group-flush">
          <li class="list-group-item" data-aos="fade-left" data-aos-anchor="#example-anchor" data-aos-duration="1600"
            data-aos-offset="500">
            <img alt="checkMark" src="../../../../assets/checkmark.png">
            Create your own curriculum, by simply uploading all your data.
          </li>
          <li class="list-group-item" data-aos="fade-left" data-aos-anchor="#example-anchor" data-aos-offset="500"
            data-aos-duration="1700">
            <img alt="checkMark" src="../../../../assets/checkmark.png">
            Share your curriculum with everyone you would like to see. Everybody can see your profile. So make sure you
            set everthing rigth and get ready to be famous!
          </li>
          <li class="list-group-item" data-aos="fade-left" data-aos-anchor="#example-anchor" data-aos-offset="500"
            data-aos-duration="1800">
            <img alt="checkMark" src="../../../../assets/checkmark.png">
            Edit it anytime, anywhere.
          </li>
          <li class="list-group-item" data-aos="fade-left" data-aos-anchor="#example-anchor" data-aos-offset="500"
            data-aos-duration="1900">
            <img alt="checkMark" src="../../../../assets/checkmark.png">
            It's all free. What are you waiting for?
          </li>
          <li class="list-group-item" data-aos="fade-left" data-aos-anchor="#example-anchor" data-aos-offset="500"
            data-aos-duration="2100">
            <img alt="checkMark" src="../../../../assets/checkmark.png">
            Share your profile in job interviews. We display all your data in a simply and clear format.
          </li>
        </ul>
      </div>

    </div>
  </div>
</div>
<div class="backGroundGrey">
  <h1 class="text-center">
    Create your own Curriculum
  </h1>
  <h4 class="text-muted text-center">
    This information will let us know more about you.
  </h4>
</div>
<div>
  <div class="container" id="section-1">

    <mat-horizontal-stepper>
      <mat-step label="Profile Details" [hasError]="formProfileDetailsValid" state="user">
        <form [formGroup]="profileDetailsForm" (submit)="submitProfileDetails()">
          <br>
          <div class="row">
            <div class="col">
              <mat-form-field>
                <mat-label>First Name</mat-label>
                <input id="firstName" matInput formControlName="firstName" required [errorStateMatcher]="matcher">
              </mat-form-field>
              <br>
              <mat-form-field>
                <mat-label>Last Name</mat-label>
                <input matInput id="lastName" formControlName="lastName" required [errorStateMatcher]="matcher">
              </mat-form-field>
              <br>
              <mat-form-field>
                <mat-label>Email</mat-label>
                <input matInput id="email" type="email" formControlName="email" required [errorStateMatcher]="matcher">
              </mat-form-field>
              <br>
              <mat-form-field>
                <mat-label>Phone Number</mat-label>
                <input matInput id="phone" type="tel" formControlName="phone" pattern="[1-9][0-9]{8}"
                  [errorStateMatcher]="matcher">
              </mat-form-field>
              <br>
              <mat-form-field>
                <mat-label>Address</mat-label>
                <input matInput id="adress" type="text" formControlName="adress" required [errorStateMatcher]="matcher">
              </mat-form-field>
              <br>
              <mat-form-field>
                <mat-label>Birth Date</mat-label>
                <input bsDatepicker id="birthDate" matInput type="text" formControlName="birthDate" required
                  [errorStateMatcher]="matcher">
              </mat-form-field>
              <br>
              <mat-form-field>
                <mat-label>Country</mat-label>
                <mat-select [(value)]="dropdownValue" required formControlName="country" [errorStateMatcher]="matcher">
                  <mat-option *ngFor="let item of dropdown" [value]="item.code">
                    {{item.country}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field>
                <mat-label>Write Something about you:</mat-label>
                <textarea matInput formControlName="description" required [errorStateMatcher]="matcher"></textarea>
              </mat-form-field>
              <div>
                <button (click)="openDialog();$event.preventDefault()" class="btn roundedButton">Add Social
                  Networks</button>
                <br>
                <div *ngIf="socialList.length>0">
                  <span class="badge badge-pill badge-secondary" *ngFor="let data of socialList">
                    <img [src]="data.socialContent.urlString" alt="socialImg">
                    <a [href]="data.link" target="_blank">{{data.socialContent.name|titlecase}}</a>
                    <img (click)="removeBadge(data.socialContent.name)" class="cod-cursor" id="deleteSpan"
                      src="../../../../../assets/fechar.png">
                  </span>
                </div>
              </div>
            </div>
            <div class="col">
              <div (click)="hiddenfileinput.click()">
                <img [src]="imgURL" id="imageOfUser" class="cod-cursor">
                <input #file type="file" accept='image/*' (change)="preview(file.files)" #hiddenfileinput
                  class="inputFile cod-cursor" />
                <h3 class="cod-cursor text-center">
                  CHOOSE A PICTURE
                </h3>
              </div>
            </div>
          </div>

          <div>
            <button matStepperNext type="submit" class="btn roundedButton float-right"
              (click)="submitProfileDetails()">Next</button>
          </div>
        </form>
      </mat-step>
      <mat-step label="Experience" state="experience">
        <br>
        <div class="row">
          <div class="col">
            <div class="card">
              <div class="card-body">
                <h2 class="card-title text-center">Insert Here your Educational our Work Experience</h2>
                <p class="card-text mb-2 text-muted text-center">Follow our Quickly Form and Show your Carrear to the
                  world!</p>
                <button class="btn roundedButton centerButtons" (click)="openExperienceDialog()">
                  <mat-icon>add</mat-icon>
                  <span class="allignTextWithIcon"> Add new Experience</span>
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6" *ngFor="let userExperience of userExperienceArray; index as i">
            <div class="card">
              <div class="card-body">
                <div class="text-nowrap header-left">
                  {{userExperience.title}}: {{userExperience.typeExperience}}
                </div>
                <div>
                  <p class="text-secondary">
                    <i class="fas fa-calendar-alt"></i>
                    {{userExperience.startDate| dateDuration: userExperience.endDate :'MMMM yyyy'}}
                  </p>
                  <p class="text-secondary">
                    <i class="far fa-building"></i>
                    {{userExperience.oranization}}
                  </p>
                  <p class="text-justify">{{userExperience.description}}</p>
                  <button class="btn roundedButton float-right editButton" id="removeButton" matTooltip="Delete"
                    (click)="deleteExperience(i)">
                    <mat-icon class="editIcon">delete</mat-icon>
                  </button>
                  <button class="btn roundedButton float-right editButton" matTooltip="Edit"
                    (click)="editExperienceDialog(i)">
                    <mat-icon class="editIcon">edit</mat-icon>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <br>
        <button matStepperPrevious class="btn roundedButton float-left">Back</button>
        <button matStepperNext class="btn roundedButton float-right">Next</button>
      </mat-step>
      <mat-step label="Skills" state="skills">
        <div class="row">
          <div class="col">
            <div class="card">
              <div class="card-body">
                <h2 class="card-title text-center">Insert your Skills</h2>
                <p class="card-text mb-2 text-muted text-center">From Language Skills, to Technical Skills or Soft
                  Skills.</p>
                <button class="btn roundedButton centerButtons" (click)="openSkillDialog()">
                  <mat-icon>add</mat-icon>
                  <span class="allignTextWithIcon"> Add new Skill</span>
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6" *ngFor="let skillUser of skillListUser; index as i">
            <div class="card">
              <div class="card-body">
                <div>
                  <p>
                    <i class="fas fa-pencil-alt"></i>
                    <b>Skill Type: </b>{{skillUser.skillType}}
                  </p>
                  <p>
                    <i class="fas fa-percentage"></i>
                    <b>Percentage: </b>{{skillUser.skillpercentage*10}}%
                  </p>
                  <p>
                    <i class="fas fa-spell-check"></i>
                    <b>Name: </b>{{skillUser.skillContent}}
                  </p>
                  <button class="btn roundedButton float-right editButton" id="removeButton" matTooltip="Delete" (click)="deleteSkill(i)">
                    <mat-icon class="editIcon">delete</mat-icon>
                  </button>
                  <button class="btn roundedButton float-right editButton" matTooltip="Edit" (click)="editSkillDialog(i)">
                    <mat-icon class="editIcon">edit</mat-icon>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <button matStepperPrevious class="btn roundedButton float-left">Back</button>
        <button matStepperNext class="btn roundedButton float-right">Next</button>
      </mat-step>
      <mat-step label="Adicional Info" state="adicionalInfo">
        <div>
          <button matStepperPrevious class="btn roundedButton">Back</button>
          <button matStepperNext class="btn roundedButton">Next</button>
        </div>
      </mat-step>
      <!-- Icon overrides. -->
      <ng-template matStepperIcon="user">
        <mat-icon>account_circle</mat-icon>
      </ng-template>
      <ng-template matStepperIcon="experience">
        <mat-icon>assignment</mat-icon>
      </ng-template>
      <ng-template matStepperIcon="experience">
        <mat-icon>assignment</mat-icon>
      </ng-template>
      <ng-template matStepperIcon="skills">
        <mat-icon>poll</mat-icon>
      </ng-template>
      <ng-template matStepperIcon="adicionalInfo">
        <mat-icon> add_comment</mat-icon>
      </ng-template>
    </mat-horizontal-stepper>

  </div>
</div>
