@import "src/styles";
/* **************CARD LOGIN**************** */
/* *************************************** */
/* ************************************** */
#cardLogin {
  width: 100%;
  -webkit-box-shadow: 22px 17px 55px 6px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 22px 17px 55px 6px rgba(0, 0, 0, 0.75);
  box-shadow: 22px 17px 55px 6px rgba(0, 0, 0, 0.75);
}
.mat-radio-button {
  margin-bottom: 15px;
}
/* **************CARD REGISTER**************** */
/* ****************************************** */
/* ***************************************** */
#cardCreate {
  width: 100%;
  -webkit-box-shadow: 22px 17px 55px -11px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 22px 17px 55px -11px rgba(0, 0, 0, 0.75);
  box-shadow: 22px 17px 55px -11px rgba(0, 0, 0, 0.75);
  margin: auto;
}
.radioPrime {
  margin-bottom: 22px;
}
//CONTENT SHARED ON BOTH CARDS
label {
  display: block;
  text-align: center;
}
.list-group-item {
  text-align: center;
}
h2 {
  text-align: center;
  margin-bottom: 30px;
}
