<div class="container">
  <div class="row">
    <div class="col-sm">
      <div class="card" id="cardCreate">
        <div class="card-body">
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <div class="radioPrime">
                <p-radioButton (onClick)="redirect('/cod/account/create')" name="groupname"
                               value="val2"></p-radioButton>
              </div>
              <label> Create new Account</label>
            </li>
            <li class="list-group-item">
              <h2 class="card-title">First Time here?</h2>
              <p>
                Lets create a new account for your. Its totally free.
              </p>
              <p>
                Join Us in this adventure !
              </p>
              <button (click)="redirect('/cod/account/create')" class="btn" type="button">
                <i class="pi pi-pencil"></i>
                Create
              </button>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-sm">
      <div class="card" id="cardLogin">
        <div class="card-body">
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <mat-radio-button value="1" [checked]="true" [color]="checkboxColor"></mat-radio-button>
              <label> Log-In to your current Account</label>
            </li>
            <li class="list-group-item">
              <h2 class="card-title">Welcome Back!</h2>
              <form>
                <div class="form-group row">
                  <label for="staticEmail" class="col">Email</label>
                  <div class="col">
                    <input type="email" class="form-control" id="staticEmail" placeholder="email@example.com" required>
                  </div>
                </div>
                <div class="form-group row">
                  <label for="inputPassword" class="col">Password</label>
                  <div class="col">
                    <input type="password" class="form-control" id="inputPassword" placeholder="Password" required>
                  </div>
                </div>
                <button class="btn" type="submit">
                  <i class="pi pi-user"></i>
                  Log-In
                </button>
              </form>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
