.col img {
  width: 50px;
}
mat-option img {
  width: 25px;
}


.btn-warning {
  width: 150px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2%;
  margin-bottom: 2%;
}
.buttonDiv {
  text-align: center;
  margin: auto;
}

.formFieldPopUp{
  width: 395px;
  margin-bottom: 2%;
}
