.col img {
  width: 50px;
}
mat-option img {
  width: 25px;
}


.btn-warning {
  width: 150px;
  color: white;
  background-color: orange !important;
  letter-spacing: 1px;
  line-height: 15px;
  border: 2px solid rgba(240, 173, 78, 0.75);
  border-radius: 40px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2%;
  margin-bottom: 2%;
}
.buttonDiv {
  text-align: center;
  margin: auto;
}

.formFieldPopUp{
  width: 395px;
  margin-bottom: 2%;
}
