@import "src/styles";
.col-xl {
  border: 1px solid orange;
}

.container {
  max-width: 100% !important;
}

//Cursor

.cursor{
  position: fixed;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: orange;
  pointer-events: none;
  mix-blend-mode: normal;
  opacity: 0.7;
  z-index: 9999;
  transition: transform 0.2s;
}

@keyframes cursorAnim {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(.7);
  }
}

@keyframes cursorAnim2 {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(.4);
  }
}

@keyframes cursorAnim3 {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(3);
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}

.expand {
  animation: cursorAnim3 .5s forwards;
  border: 1px solid rgb(243, 198, 100);
}

/* ---------------------------------------------------
    PAGE CONTENT
----------------------------------------------------- */
.wrapper {
  display: flex;
  align-items: stretch;
}

#content {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  //transition: all 0.3s;
  overflow: hidden;
}

#pageContent {
  height: 100%;
  // header plus footer
  //min-height: calc(100vh - 385px);
  min-height: 100vh;
}

/*
#content:not(cod-header){
  background: green !important;
}*/

/* ---------------------------------------------------
    SPINNER
----------------------------------------------------- */

.spinner {
  font-size: 300%;
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 10
}

.fa-spinner {
  -webkit-animation: spin 1000ms infinite linear;
  animation: spin 1000ms infinite linear;
  color: orange;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
