<span *ngIf="loading"
      class="fa fa-spinner spinner"></span>
<div #masterCursor
     [class.expand]="expand"
     [style.left]="left"
     [style.top]="top"
     class="cursor"
     id="masterCursor"
>
</div>
<div class="wrapper">
  <cod-menu
    [isActiveSidebar]="isActiveSidebar"
    style="z-index: 3"
  ></cod-menu>
  <!-- Page Content  -->
  <div id="content">
    <cod-header
      (sideBar)="changeValue($event)"
      [content]="headerService.getContent()"
      [backgroundColor]="headerService.getColor()"
      [isActiveSidebar]="isActiveSidebar"
      [codVisible]="headerService.getCodVisible()"
    ></cod-header>
    <div
      [@slideInAnimation]="o.isActivated ? o.activatedRoute : ''"
      id="pageContent"
    >
      <!--(activate)="onActivate()"-->
      <router-outlet
        #o="outlet"
      ></router-outlet>
    </div>
    <cod-footer class="footer"></cod-footer>
  </div>
</div>
