<div class="container">
  <div class="row">
    <div class="col-sm">
      <div class="card" id="cardCreate">
        <div class="card-body">
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
                <mat-radio-button value="1" [checked]="true" [color]="checkboxColor"></mat-radio-button>
              <label for="radio"> Create new Account</label>
            </li>
            <li class="list-group-item">
              <h2 class="card-title">It's free! Let's create a new account</h2>
              <form>
                <div class="form-group row">
                  <label for="inputName" class="col">Name</label>
                  <div class="col">
                    <input type="text" class="form-control" id="textId" required>
                  </div>
                </div>
                <div class="form-group row">
                  <label for="staticEmail" class="col">Email</label>
                  <div class="col">
                    <input type="email" class="form-control" id="staticEmail" placeholder="email@example.com" required>
                  </div>
                </div>
                <div class="form-group row">
                  <label for="inputPassword" class="col">Password</label>
                  <div class="col">
                    <input type="password" class="form-control" id="inputPassword" placeholder="Password" required>
                  </div>
                </div>
                <button class="btn btn-primary " type="submit" id="buttonCreate">
                  <i class="pi pi-pencil"></i>
                  Create
                </button>
              </form>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-sm">
      <div class="card" id="cardLogin">
        <div class="card-body">
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <div class="radioPrime">
              <p-radioButton name="groupname" value="val2" (onClick)="redirect('/account/log-in')"></p-radioButton>
            </div>
              <label for="radio"> Log-In to your current Account</label>
            </li>
            <li class="list-group-item">
              <h2 class="card-title">Not your first time here?</h2>
              <p>
                Log In to your current Account
              </p>
              <button class="btn btn-info " type="button" id="buttonCreate" (click)="redirect('/account/log-in')">
                <i
                  class="pi pi-user"
                ></i>
                Log-In
              </button>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
