<div class="container">
  <cod-personal-detail [profile]="profile"></cod-personal-detail>
  <div class="headings">
    <span class="hr"></span>
    <h2 class="title">Experience</h2>
    <span class="hr"></span>
  </div>
  <cod-experience [profile]="profile"></cod-experience>
  <div class="headings">
    <span class="hr"></span>
    <h2 class="title">Skills</h2>
    <span class="hr"></span>
  </div>
  <cod-skills [profile]="profile"></cod-skills>
  <cod-interests [profile]="profile"></cod-interests>
  <div class="headings">
    <span class="hr"></span>
    <h2 class="title">Adicional Info</h2>
    <span class="hr"></span>
  </div>
  <cod-additional-information [profile]="profile"></cod-additional-information>
</div>
