<div class="container">
  <h1>
    GET YOUR QUESTIONS ANSWERED
  </h1>
  <h3>
    WE ARE HERE TO HELP YOU.
  </h3>
  <div class="row">
    <div class="col addVerticalLine">
      <img src='../../../assets/support.png' alt="support_image" class="colButton">
      <h4>
        SUPPORT
      </h4>
      <p id="supportP">
        Ask for help, in any concern about our site. We are here to help you.
      </p>
    </div>
    <div class="col addVerticalLine">
      <img src='../../../assets/tecno.png' alt="technologies_image" class="colButton">
      <h4>
        TECHNOLOGIES
      </h4>
      <p>
        Do you want to learn more about the technologies we used in this project? Let's find out.
      </p>
    </div>
    <div class="col">
      <img src='../../../assets/group.png' alt="technologies_image" class="colButton">
      <h4>
        CONTACTS
      </h4>
      <p>
       You want to have a chat with us? Our contacts are just bellow.
      </p>
    </div>
  </div>
  <!--Esta row eh so para por os botoes da minha row de cima-->
  <div class="row">
    <div class="col addVerticalLine">
      <button (click)="redirect('cod/contacts/support')" class="btn buttonsCol" type="button">Get Support</button>
    </div>
    <div class="col addVerticalLine">
      <button (click)="redirect('cod/contacts/technologies')" class="btn buttonsCol" type="button">Technologies</button>
    </div>
    <div class="col">
      <button (click)="redirect('cod/contacts/details')" class="btn buttonsCol" type="button">Contacts</button>
    </div>
  </div>
</div>
<hr>
<div class="container">
  <h1 id="locationH">
   LOCATION
  </h1>
  <h3>
    Learn more about our offices
  </h3>
  <!-- -->
  <div class="card mb-4 border-0">
    <div class="card-header rounded">
      Lisbon
    </div>
    <!--Card content-->
    <div class="card-body text-center">
      <div id="map-container-google-8" class="z-depth-1-half map-container-5" style="height: 300px">
        <iframe src="https://maps.google.com/maps?q=Lisbon&t=&z=13&ie=UTF8&iwloc=&output=embed"
                allowfullscreen style="border:0"></iframe>
      </div>

    </div>
    <!--/.Card content-->

  </div>
  <!--/.Card-->

</div>

