@import "src/styles";
/* **************HEADERS**************** */
/* ************************************ */
/* ************************************ */

h1 {
  padding: 0 0;
  font: 40px "Arial";
  text-align: center;
  color: orange;
}

h3 {
  padding: 0 0;
  font: 25px "Arial";
  text-align: center;
  margin-bottom: 5%;
}
/* **************CONTENT OF THE TABLE**************** */
/* ************************************************** */
/* ************************************************** */

.colButton {
  width: 150px;
  height: 150px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.addVerticalLine {
  border-right: 2px solid rgb(172, 169, 169);
}
//HEADER OF EACH ROW OF THE TABLE
h4 {
  padding: 0 0;
  font: 20px "Arial";
  text-align: center;
  margin: 5%;
  color: orange;
}
//DESCRIPTION ON THE TABLE
p {
  text-align: center;
  font: 17px "Arial";
  margin-bottom: 5%;
}
.buttonsCol {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
//MARGIN FOR BOTTOM OF TABLE
.container {
  margin-bottom: 3%;
}

/* **************MAP CONTENT**************** */
/* ************************************ */
/* ************************************ */

.map-container-5 {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}
.map-container-5 iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

#locationH {
  margin-top: 50px;
}

.card-header {
  background-image: linear-gradient(to right, #ffd06e, #fc6863);
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: -20px;
  -webkit-box-shadow: 28px 22px 35px -6px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 28px 22px 35px -6px rgba(0, 0, 0, 0.75);
  box-shadow: 28px 22px 35px -6px rgba(0, 0, 0, 0.75);
  font: 20px "Arial";
  text-align: center;
  color: white;
}
#map-container-google-8 {
  -webkit-box-shadow: 28px 22px 35px -6px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 28px 22px 35px -6px rgba(0, 0, 0, 0.75);
  box-shadow: 28px 22px 35px -6px rgba(0, 0, 0, 0.75);
}
