<div class="headerFaq">
  <h1 class="font-weight-bold">
    FAQ
  </h1>
  <p>
    Can't find the answer you are looking for?
  </p>
  <p>
    We've shared some of our most frequently asked questions to help out!
  </p>
</div>
<div class="row">
  <div class="col-3">
    <mat-list>
      <mat-list-item *ngFor="let sub of mainSubjects; let i = index" class="font-weight-bold ">
          <a (click)="selectedMainSub(i)" [ngClass]="selectedSub[i] ? 'currentSelectedSub':'effect-underline'">
            {{sub}}
          </a>
      </mat-list-item>
    </mat-list>
  </div>
  <div class="col-7">
    <mat-accordion>
      <mat-expansion-panel hideToggle *ngFor="let question of subjectQuestionsAnswer">
        <mat-expansion-panel-header class="cod-cursor">
          <mat-panel-title class="cod-cursor">
            {{question.title}}
          </mat-panel-title>
          <mat-panel-description class="cod-cursor">
            <img src='../../../assets/plus.png' alt="" class="iconPlus cod-cursor">
          </mat-panel-description>
        </mat-expansion-panel-header>
          <!--Content to display when I expand the previous one-->
          <p class="contentAccord">
            {{question.answer}}
          </p>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>
