<div class="row">
  <div class="col">
    <div class="card">
      <div class="card-body">
        <h2 class="card-title text-center">Adicional Info</h2>
        <p class="card-text mb-2 text-muted text-center">
          Let us Know more about you. Share with us, your <b>Hobbies</b>,<b>Projects</b>,<b>Interests</b>,<b>Certificates</b> or other information
        </p>
        <button class="btn roundedButton centerButtons" (click)="openAdicionalInfoDialog()">
          <mat-icon>add</mat-icon>
          <span class="allignTextWithIcon"> Add Adicional Info</span>
        </button>
      </div>
    </div>
  </div>
</div>
<div class="headings" *ngIf="profile.hobbies">
  <span class="hr"></span>
  <h2 class="title">Hobbies:</h2>
  <span class="hr"></span>
</div>
 <div class="row">
  <div class="col-sm-4" *ngFor="let hobbyElement of profile.hobbies; index as i">
    <div class="card">
      <div class="card-body">
        <div>
          <p>
            <i class="fas fa-running"></i>
            <b>Hobby: </b>{{hobbyElement.hobby}}
          </p>
          <p>
            <i class="fas fa-align-left"></i>
            <b>Description: </b>{{hobbyElement.description}}
          </p>
          <button class="btn roundedButton float-right editButton" id="removeButton" matTooltip="Delete" >
            <mat-icon class="editIcon">delete</mat-icon>
          </button>
          <button class="btn roundedButton float-right editButton" matTooltip="Edit">
            <mat-icon class="editIcon">edit</mat-icon>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="headings" *ngIf="profile.projects">
  <span class="hr"></span>
  <h2 class="title">Projects:</h2>
  <span class="hr"></span>
</div>
 <div class="row">
  <div class="col-sm-6" *ngFor="let project of profile.projects; index as i">
    <div class="card">
      <div class="card-body">
        <div>
          <p>
            <b>Name: </b>{{project.name}}
          </p>
          <p>
            <b>Type: </b>{{project.type}}
          </p>
          <p>
            <b>Scope: </b>{{project.scope}}
          </p>
          <p>
            <b>Description: </b>{{project.description}}
          </p>
          <p>
            <b>Period: </b>From: {{project.startDate|date}} To: {{project.endDate|date}}
          </p>
          <p>
            <b>Tecnhologies: </b>
            <span *ngFor="let tecnhology of project.tecnhologies">
              {{tecnhology}}
            </span>
          </p>
          <p *ngIf="project.urlLink">
            <a href="{{project.urlLink}}">Link</a>
          </p>
          <button class="btn roundedButton float-right editButton" id="removeButton" matTooltip="Delete">
            <mat-icon class="editIcon">delete</mat-icon>
          </button>
          <button class="btn roundedButton float-right editButton" matTooltip="Edit">
            <mat-icon class="editIcon">edit</mat-icon>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="headings" *ngIf="profile.certificates">
  <span class="hr"></span>
  <h2 class="title">Certificates:</h2>
  <span class="hr"></span>
</div>
 <div class="row">
  <div class="col-sm-6" *ngFor="let certificate of profile.certificates; index as i">
    <div class="card">
      <div class="card-body">
        <div>
          <p>
            <b>Title: </b>{{certificate.title}}
          </p>
          <p>
            <b>Entity: </b>{{certificate.entity}}
          </p>
          <p>
            <b>Issue Date: </b>{{certificate.issueDate |date}}
          </p>
          <p>
            <b>Grade: </b>{{certificate.grade}}
          </p>
          <p>
            <b>Description: </b>{{certificate.description}}
          </p>
          <p>
            <b>Attachment: </b>{{certificate.file[0].name}}
          </p>
          <button class="btn roundedButton float-right editButton" id="removeButton" matTooltip="Delete">
            <mat-icon class="editIcon">delete</mat-icon>
          </button>
          <button class="btn roundedButton float-right editButton" matTooltip="Edit" >
            <mat-icon class="editIcon">edit</mat-icon>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="headings" *ngIf="profile.interests">
  <span class="hr"></span>
  <h2 class="title">Interests:</h2>
  <span class="hr"></span>
</div>
 <div class="row">
  <div class="col-sm-6" *ngFor="let interest of profile.interests; index as i">
    <div class="card">
      <div class="card-body">
        <div>
          <p>
            <i class="fas fa-clipboard-list"></i>
            <b>Interest: </b>{{interest.name}}
          </p>
          <p>
            <i class="fas fa-align-left"></i>
            <b>Description: </b>{{interest.description}}
          </p>
          <button class="btn roundedButton float-right editButton" id="removeButton" matTooltip="Delete" >
            <mat-icon class="editIcon">delete</mat-icon>
          </button>
          <button class="btn roundedButton float-right editButton" matTooltip="Edit" >
            <mat-icon class="editIcon">edit</mat-icon>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="headings" *ngIf="profile.others">
  <span class="hr"></span>
  <h2 class="title">Others:</h2>
  <span class="hr"></span>
</div>
 <div class="row">
  <div class="col-sm-4" *ngFor="let otherElement of profile.others; index as i">
    <div class="card">
      <div class="card-body">
        <div>
          <p>
            <i class="fas fa-ellipsis-h"></i>
            <b>Title: </b>{{otherElement.title}}
          </p>
          <p>
            <i class="fas fa-align-left"></i>
            <b>Description: </b>{{otherElement.description}}
          </p>
          <p>
            <i class="fas fa-link"></i>
           <a href="{{otherElement.urlLink}}" class="cod-cursor"> <b>Link</b></a>
          </p>
          <button class="btn roundedButton float-right editButton" id="removeButton" matTooltip="Delete">
            <mat-icon class="editIcon">delete</mat-icon>
          </button>
          <button class="btn roundedButton float-right editButton" matTooltip="Edit">
            <mat-icon class="editIcon">edit</mat-icon>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
