<div class="row">
  <div class="col addVerticalLine">
    <!--Form with header-->
    <div class="card">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <h1 class="rounded">
            Write To Us:
          </h1>
          <h4 class="mb-2 text-muted">
            We'll write rarely, but with only the best content.
          </h4>
        </li>
        <li class="list-group-item">
          <form>
            <div class="form-group input-group">
              <div class="input-group-prepend">
                <span class="input-group-text" id="fristName">
                  <img src='../../../assets/user.png' class="groupImage">
                </span>
              </div>
              <input type="text" class="form-control" id="firstName" placeholder="Name" required>
            </div>
            <div class="form-group input-group">
              <div class="input-group-prepend">
                <span class="input-group-text" id="emailSpan">
                  <img src='../../../assets/email_symbol.png' class="groupImage">
                </span>
              </div>
              <input type="email" class="form-control" id="email" required placeholder="Email">
            </div>
            <div class="form-group input-group">
              <div class="input-group-prepend">
                <span class="input-group-text" id="subjectSpan">
                  <img src='../../../assets/ticket.png' class="groupImage">
                </span>
              </div>
              <input type="text" class="form-control" id="sub" required placeholder="Subject">
            </div>
            <div class="form-group input-group">
              <div class="input-group-prepend">
                <span class="input-group-text" id="subjectSpan">
                  <img src="../../../assets/country.png" class="groupImage">
                </span>
              </div>
              <select id="inputState" class="form-control">
                <option value="" selected disabled>Chose your Country...</option>
                <option *ngFor="let country of countryList" >{{country}}</option>

              </select>
            </div>
            <div class="form-group input-group">
              <div class="input-group-prepend">
                <span class="input-group-text" id="contentSpan">
                  <img src='../../../assets/content.png' class="groupImage">
                </span>
              </div>
              <textarea class="form-control" aria-label="With textarea" placeholder="Your Text Here..."></textarea>
            </div>
            <button class="btn btn-primary btn-lg" id="submitButton" type="submit" value="Submit">
              <img src='../../../assets/sendemail.png' class="groupImage" id="submitImage">
              Submit
            </button>
            <!--<input class="btn btn-primary" type="submit" value="Submit" id="submitButton">-->
          </form>
        </li>

      </ul>



    </div>
  </div>
  <div class="col">
    <div class="container">

      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <h2>
            Other ways to connect
          </h2>
          <p>
            Call us, send an email or even a postcard - whatever works for you.
          </p>
          <p>
            We'll be here waiting for you, and attending all of your needs!
          </p>
        </li>
        <li class="list-group-item">
          <img src="../../../assets/phoneRound.png" class="suportIcons rounded-circle border-dark">
          <a href='cod/contacts/details'>
            Contacts
          </a>
        </li>
        <li class="list-group-item">
          <img src="../../../assets/share.png" class="suportIcons rounded-circle">
          <a href=''>
            Social Networks
          </a>
        </li>

      </ul>

    </div>
  </div>
</div>
