.addVerticalLine {
  border-right: 1px solid rgb(201, 197, 197);
}

.card{
  width: 500px;
  -webkit-box-shadow: 20px 22px 39px -18px rgba(0,0,0,0.75);
  -moz-box-shadow: 20px 22px 39px -18px rgba(0,0,0,0.75);
  box-shadow: 20px 22px 39px -18px rgba(0,0,0,0.75);
}
.groupImage{
  width: 25px;
}
.card{
  margin-right: auto;
  margin-left: auto;
}

.input-group-text{
  background-color: lighten(orange,20%);
}
h1,h4{
  text-align: center;
}
