/* **************PAGE********** */
/* *************************** */
/* ************************** */
.row{
  padding-top: 3%;
}

/* **************CARD CONTENT*********** */
/* ************************************ */
/* ************************************ */
.card {
  width: 500px;
  -webkit-box-shadow: 20px 22px 39px -18px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 20px 22px 39px -18px rgba(0, 0, 0, 0.75);
  box-shadow: 20px 22px 39px -18px rgba(0, 0, 0, 0.75);
  margin-right: auto;
  margin-left: auto;
}
//HEADER OF CARD
h1 {
  background-image: linear-gradient(to right, #ffd06e, #fc6863);
  z-index: 100;
  padding: 0 0;
  font: 23px "Arial";
  text-align: center;
  color: white;
  margin-top: -8%;
  padding-top: 2%;
  padding-bottom: 2%;
}
//SUBTITLE OF CARD
h4 {
  text-align: center;
}
//FORM IMAGES
.groupImage {
  width: 25px;
}
//FORM IMAGES BACKGROUND COLOR
.input-group-text {
  background-color: lighten(orange, 20%);
}

#submitButton {
  display: block;
  margin-left: auto;
  margin-right: auto;
  -webkit-box-shadow: 6px 4px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 6px 4px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 6px 4px 5px 0px rgba(0, 0, 0, 0.75);
}
#submitImage {
  opacity: 70%;
  margin-right: 10px;
}

/* **************RIGHT SIDE CONTENT**************** */
/* *********************************************** */
/* ********************************************** */
.addVerticalLine {
  border-right: 1px solid rgb(201, 197, 197);
}
//RIGHT SIDE TEXT AREA
p,
a {
  font: 18px "Arial";
}

/* **************CSS BUTTON ANIMATIONS**************** */
/* ************************************************** */
/* ************************************************* */
$icon-size	  : 60px;
$border-radius: 0.5;//15% = 0.15, 50% = 0.50 etc.
.icon-container{
	width: 100%;
	height: $icon-size;
}

.icon{
	position: relative;
	display: inline-flex;
	width: $icon-size;
	height: $icon-size;
	border-radius: $icon-size*$border-radius;
  overflow: hidden;
  background-color: blanchedalmond;
	&::before, &::after{
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		transition: all 0.25s ease;
		border-radius: $icon-size*$border-radius;
	}
	i{
    display: block;
		position: relative;
		font-size: $icon-size/2;
    margin-top: $icon-size/4;
    margin-left: $icon-size/4;
    margin-right: $icon-size/4;
		transition: all 0.25s ease;
	}
}

.icon-fill{
	&::before{
		transition-duration: 0.5s;
		box-shadow: inset 0 0 0 1px orange;
	}
	&:hover::before{
		box-shadow: inset 0 0 0 $icon-size orange;
	}
}

.icon-collapse{
	&::before{
		border-radius: 0;
	}
	&:hover::before{
		box-shadow:
		inset 0 $icon-size/2 0 0 orange,
		inset 0 $icon-size/-2 0 0 orange;
	}
	&::after{
		box-shadow: inset 0 0 0 1px orange;
	}
}







